/* components/ServicesHeader.module.css */
.header {
  text-align: center;
}

.preTitle {
  font-family: "Montserrat", sans-serif; /* Smaller text, different font */
  font-size: 0.9em;
  font-weight: 400;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Space between dots and text */
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title {
  font-size: 48px; /* Large size */
  font-weight: 500;
  line-height: 1.2;
}

.subtitle {
  font-family: "Montserrat", sans-serif; /* Match pre-title font */
  font-size: 1.1em;
  color: black;
  margin: 0 auto;
  line-height: 1.6;
}

/* Responsive adjustments for header */
@media (max-width: 768px) {
  .title {
    font-size: 25px;
  }
  .subtitle {
    font-size: 14px;
  }
  .header {
    text-align: start;
  }
}
