/* components/ServicesHeader.module.css */
.header {
  text-align: center;
}

.preTitle {
  font-size: 20px;
  font-weight: 400;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px; /* Space between dots and text */
  letter-spacing: 1px;
}

.title {
  font-size: 80px; /* Large size */
  font-weight: 500;
  line-height: 1.2;
  color: var(--primary-color);
}

/* .subtitle {
  font-size: 24px;
  color: black;
  font-family: "Bonheur Royale", cursive;
} */

/* Responsive adjustments for header */
@media (max-width: 768px) {
  .title {
    font-size: 25px;
  }
  .header {
    text-align: start;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .title {
    font-size: 36px;
  }
}
