.container {
  padding: 50px 20px;
}

.title {
  font-weight: 500;
  color: black;
  font-size: 48px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .title {
    font-size: 25px; /* md:text-3xl */
  }
  .faqHeader img {
    display: none;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem; /* space-y-5 */
}

.item {
  overflow: hidden;
  background-color: white;
  z-index: 100;
}

.button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1.25rem 1rem;
  background-color: #fff2ef;
  color: black;
  font-size: 1.125rem; /* text-lg */
  font-weight: 400;
  text-align: left;
  border: 2px solid #fec2aa;
  border-radius: 10px;
}

.icon {
  color: #fec2aa;
}

.answer {
  padding: 1.25rem 2.5rem;
  background-color: white; /* bg-gray-100 */
  color: #1f2937;
  border: 1px solid #fec2aa; /* text-gray-800 */
  border-radius: 10px;
}

.faqHeader {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  position: relative;
}
.faqHeader img {
  position: absolute;
  bottom: -50px; /* moves it into .list */
  right: 0; /* adjust if you want it aligned */
  width: 140px;
}
