.container {
  margin: 50px 20px;
}

.title {
  font-weight: 500;
  color: black;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .title {
    font-size: 1.875rem; /* md:text-3xl */
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 3rem; /* lg:text-5xl */
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem; /* space-y-5 */
}

.item {
  overflow: hidden;
  background-color: white;
}

.button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1.25rem 1rem;
  background-color: #fff2ef;
  color: black;
  font-size: 1.125rem; /* text-lg */
  font-weight: 400;
  text-align: left;
  border: 2px solid #fec2aa;
}

.icon {
  color: #fec2aa;
}

@media (min-width: 1024px) {
  .button {
    padding-left: 2.5rem; /* lg:px-10 */
    padding-right: 2.5rem;
  }
}

.answer {
  padding: 1.25rem 2.5rem;
  background-color: white; /* bg-gray-100 */
  color: #1f2937;
  border: 1px solid #fec2aa; /* text-gray-800 */
}
