/* App.module.css */
/* General resets/fonts should be in index.css or global.css */

.servicesSection{
  padding: 50px 20px;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(350px, 1fr)
  ); /* Responsive grid */
  gap: 30px; /* Space between cards */
  margin-top: 50px;
  justify-content: center;
}

@media (min-width: 1024px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr); /* Three columns on large screens */
    gap: 20px;
  }
}
